// body {
// 	background-color: black;
// 	color:white;
// 	font-family: sans-serif;
// 	@media screen and (min-width: 400px) {
// 		background-color: green;
// 		color: blue;	
// 	}
// }

// h1 {
// 	color: red;
// @media screen and (min-width: 400px) {
// 	color: blue;
// }
// }

   body {
      font-family: Arial;
      margin: 0;
    }
    #header {
      background-color: #333333;
      color: #ffffff;
      height: 5em;
    }
    #content {
      background-color: silver;
      padding: 2em;
      box-sizing: border-box;
    }

#content {
@media screen and (max-widht: 1000px) {
text-align: right;
}
}