.message {
    padding: 0.5em 1em;
    background-color: #cccccc;
    border: 1px solid #666666;
    margin-bottom: 0.25em;

    background: #cccccc url(http://classes.codingbootcamp.cz/assets/classes/8/info.png) 1em center/1em auto no-repeat scroll;
    
    padding-left: 3em;
    }