#first {
    border: 1px black solid;
}    
#second {
    border: 10px dotted blue;
}
#third {
    border: solid green;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right-width: 1px;
    border-left-width: 0px;
}
